@use '../utils/variables' as vars;

.header {
  min-height: 100px;
  padding-bottom: 20px;
  border-bottom: 1px solid vars.$color-secondary;

  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__h1 {
    margin: 20px 10px;
    color: vars.$color-tertiary;
    font-size: 1.6rem;
    text-align: center;
  }

  &__nav {
    width: fit-content;
    margin-left: auto;
  }

  &__links-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 1.5rem;
  }

  &__links {
    display: inline-block;
    position: relative;
    margin: 0 15px;
    padding-bottom: 5px;
    color: vars.$color-secondary;
    font-size: 1.2rem;
    font-weight: bold;
    border-bottom: 2px solid vars.$color-primary;
    cursor: pointer;
    transition: transform 0.1s linear;

    &--active {
      border-bottom: 2px solid vars.$color-tertiary;
    }

    &__icon {
      font-size: 2rem;
    }

    @media screen and (min-width: 768px) {
      &__icon {
        display: none;
      }
      &__text {
        display: unset;
      }
    }

    @media screen and (max-width: 767px) {
      &__icon {
        display: unset;
      }
      &__text {
        display: none;
      }
    }

    &:hover:not(&--active) {
      transform: scale(1.1);
    }
  }
}
