@use '../utils/variables' as vars;

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  height: vars.$header-height;
  display: flex;
  align-items: center;
  background-color: vars.$color-primary;
  border-bottom: 1px solid vars.$color-secondary;
}

.header-links__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 1.5rem;
}

.header-links {
  display: inline-block;
  position: relative;
  margin: 0 15px;
  padding-bottom: 5px;
  color: vars.$color-secondary;
  font-size: 1.2rem;
  font-weight: bold;
  border-bottom: 2px solid vars.$color-primary;
  cursor: pointer;
  transition: transform 0.1s linear;

  &__active {
    border-bottom: 2px solid vars.$color-tertiary;
  }

  &__icon {
    font-size: 2rem;

    @media screen and (min-width: 768px) {
      display: none;
    }
    @media screen and (max-width: 767px) {
      display: unset;
    }
  }

  &__text {
    @media screen and (min-width: 768px) {
      display: unset;
    }
    @media screen and (max-width: 767px) {
      display: none;
    }
  }

  &:hover:not(&__active) {
    transform: scale(1.1);
  }
}
