@use '../utils/variables' as vars;

.project-card {
  width: 30%;
  min-width: 300px;
  margin: 20px 10px;
  padding: 0 10px 10px 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: vars.$color-secondary;
  color: vars.$color-primary;
  border: 1px solid vars.$color-tertiary;
  border-radius: 20px;
  transition: all 0.2s ease-in-out;

  &:hover {
    transform: scale(1.05);
  }

  &__image-wrapper {
    width: 80%;
    height: 125px;
    max-width: 250px;
    border: 1.5px solid vars.$color-primary;
    border-radius: 10px;
    overflow: hidden;
  }

  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  & > p {
    margin: 0.5rem 0;
  }

  &__techno-links {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__techno-list {
    display: flex;
    flex-wrap: wrap;
  }

  &__link-list {
    width: 75%;
    display: flex;
    justify-content: space-between;
  }

  &__button {
    max-width: 45%;
    padding: 5px;
    background-color: vars.$color-primary;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s 0.05s ease-in;

    & p {
      margin: 0;
    }

    &:hover {
      background-color: vars.$color-tertiary;
    }
    &:hover .project-card__link {
      color: vars.$color-primary;
    }
  }

  &__link {
    color: vars.$color-tertiary;
    transition: color 0.15s 0.05s linear;
  }
}
