@use '../utils/variables' as vars;

.about {
  max-width: unset;
  padding: 0;

  &__section {
    padding: 5px 20px 0 20px;

    @media screen and (min-width: 768px) {
      display: flex;
      align-items: center;
    }

    &--secondary-background {
      flex-direction: row;
      color: vars.$color-primary;
      background-color: vars.$color-secondary;
    }

    &--tertiary-background {
      flex-direction: row-reverse;
      color: vars.$color-primary;
      background-color: vars.$color-tertiary;
    }
  }

  &__image-wrapper {
    margin: 10px auto;
    text-align: center;

    border-radius: 5px;

    & img {
      border-radius: 5px;
    }
  }

  &__image-caption {
    font-size: 0.5rem;
  }

  &__content {
    @media screen and (min-width: 768px) {
      width: 65%;
    }
  }

  &__h3 {
    text-align: center;
    color: vars.$color-primary;

    &--light {
      color: vars.$color-tertiary;
    }
  }

  &__link-wrapper {
    text-align: center;
  }
}
