@use '../utils/variables' as vars;

.about {
  max-width: unset;
  padding: 0;

  &__section {
    padding: 5px 20px 0 20px;

    &--secondary-background {
      color: vars.$color-primary;
      background-color: vars.$color-secondary;
    }

    &--tertiary-background {
      color: vars.$color-primary;
      background-color: vars.$color-tertiary;
    }
  }

  &__width-limiter {
    max-width: 1200px;
    margin: 0 auto;

    @media screen and (min-width: 768px) {
      display: flex;
      align-items: center;
      flex-direction: row;

      &--reverse-flow {
        flex-direction: row-reverse;
      }
    }
  }

  &__image-wrapper {
    margin: 10px auto;
    text-align: center;

    border-radius: 5px;

    & img {
      max-width: 300px;
      width: 100%;
      border-radius: 5px;
    }
  }

  &__image-caption {
    font-size: 0.5rem;
  }

  &__content {
    @media screen and (min-width: 768px) {
      width: 65%;
    }
  }

  &__h3 {
    text-align: center;
    color: vars.$color-primary;

    &--light {
      color: vars.$color-tertiary;
    }
  }

  &__link-wrapper {
    margin-top: 2rem;
    text-align: center;
  }
}
