@use '../utils/variables' as vars;

.contact {
  padding-bottom: 20px;

  &__form {
    max-width: 800px;
    margin: 40px auto 0 auto;
    padding: 20px 10px;
    display: flex;
    flex-direction: column;
    border: 1px solid vars.$color-tertiary;
    border-radius: 5px;

    & > div:not(:last-of-type) {
      display: flex;
      justify-content: space-between;
    }

    &__section {
      width: 45%;
    }

    &__field {
      display: flex;
      flex-direction: column;
    }

    &__message {
      max-width: 100%;
    }

    &__message-indications {
      display: flex;
      justify-content: space-between;
    }

    &__message-length {
      margin: 0.1rem 0 0.5rem 0;
      font-size: 0.6rem;
    }

    &__submit {
      margin: auto;
      padding: 0.5rem 1rem;
      font-size: 1rem;
      font-weight: bold;
      color: vars.$color-primary;
      background-color: vars.$color-tertiary;
      border: 2px solid vars.$color-secondary;
      border-radius: 5px;
      cursor: pointer;
      transition: background-color 0.2s linear;

      &:hover {
        font-weight: bold;
        background-color: vars.$color-secondary;
        border: 2px solid vars.$color-tertiary;
      }
    }
  }
}

.in-sentence-link {
  color: vars.$color-tertiary;
  text-decoration: underline;
}

.fa-arrow-up-right-from-square {
  font-size: 0.5rem;
}

.error-message {
  min-height: 20px;
  width: fit-content;
  margin: 0.1rem 0 0.5rem 0;
  font-size: 0.8rem;
  color: vars.$color-warning;
  background-color: vars.$color-tertiary;
  border-radius: 2px;
}

:is(input, textarea):not(:focus):not(:placeholder-shown):invalid {
  border: 1px solid vars.$color-warning;
}

.sending,
.email-success-message,
.email-error-message {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: vars.$color-primary--translucent;

  &__message {
    padding: 10px 20px;
    font-size: 1.2rem;
    font-weight: bold;
    color: vars.$color-secondary--dark;
    background-color: vars.$color-tertiary;
    border-radius: 25px;
  }
}

.email-success-message {
  color: vars.$color-secondary--dark;
  background-color: vars.$color-tertiary;
  border-radius: 5px;

  &::backdrop {
    background-color: vars.$color-primary--translucent;
  }

  &__form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__text {
    margin: 0.5rem auto;
  }
}

.email-error-message {
  color: vars.$color-warning;
  background-color: vars.$color-tertiary;
  border-radius: 5px;

  &::backdrop {
    background-color: vars.$color-primary--translucent;
  }

  &__form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__text {
    margin: 0.5rem auto;
  }
}
