@use '../utils/variables' as vars;

@keyframes picture-rotation {
  0% {
    transform: rotate(0deg) translateX(90px) rotate(0deg);
  }
  100% {
    transform: rotate(360deg) translateX(90px) rotate(-360deg);
  }
}

.homepage {
  max-width: unset;

  &__hero {
    height: 500px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    /***************************************************
     ************* Ajouter le crédit photo *************
     ***************************************************/
    background: linear-gradient(#34353abb, #34353abb) top / 100% 25% no-repeat,
      url('../../assets/images/hero-photo.webp') center / cover no-repeat;
    color: vars.$color-tertiary;

    &__text {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-shrink: 0;
      height: 25%;
      margin: 0;
      font-weight: bold;

      @media screen and (min-width: 768px) {
        font-size: 1.2rem;
      }
    }

    &__cta {
      position: relative;
      max-width: 1200px;
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
    }
  }

  &__content-wrapper {
    max-width: 1200px;
    margin: 0 auto;
  }
  &__h3 {
    width: 50%;
    margin: 40px auto 20px auto;
    padding-top: 40px;
    text-align: center;
    font-size: 1.3rem;
    color: vars.$color-tertiary;
    border-top: 1px solid vars.$color-tertiary;
  }

  p {
    text-align: center;
  }

  &__picture {
    max-width: 250px;
    max-height: 250px;
    border: 2px solid vars.$color-tertiary;
    border-radius: 50%;
  }

  &__button-wrapper {
    margin-top: 40px;
  }

  @media screen and (min-width: 768px) {
    &__about__content,
    &__projects__content {
      display: flex;
      justify-content: space-around;
      align-items: center;
    }

    &__projects__content {
      flex-direction: row-reverse;
    }

    & article {
      width: 60%;
    }
  }

  &__projects__content__pictures {
    position: relative;
    height: 300px;
    width: 300px;
    margin: auto;
    border-radius: 50%;
    border: 2px solid vars.$color-tertiary;

    &:hover .homepage__projects__picture {
      animation-play-state: running;
    }
  }

  &__projects__picture {
    position: absolute;
    top: 125px;
    left: 98px;
    animation: picture-rotation vars.$picture-rotation-duration linear infinite
      paused;

    @for $i from 1 through vars.$number-of-homepage-project-pictures {
      &--#{$i} {
        transform: rotate(
            vars.$initial-picture-rotation-angle * ($i - 1) * 1deg
          )
          translateX(90px)
          rotate(-(vars.$initial-picture-rotation-angle) * ($i - 1) * 1deg);
        animation-delay: (
          vars.$baseline-picture-rotation-delay -
            vars.$baseline-picture-rotation-delay *
            $i
        );
      }
    }
  }

  &__skills {
    @media screen and (min-width: 768px) {
      display: flex;
      column-gap: 50px;
    }

    &__hard,
    &__soft {
      display: flex;
      flex-direction: column;
      align-items: center;
      flex-grow: 1;
      min-width: calc(50% - 25px);
    }
  }

  &__h4 {
    margin: 2rem 0 0.5rem 0;
  }

  &__skills-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}
