$color-primary: #34353a;
$color-primary--translucent: #34353abb;
$color-secondary: #62ac83;
$color-secondary--dark: #39835a;
$color-tertiary: #ffffeb;
$color-cta: #fb4d0e;
$color-warning: #ec0000;

$font-primary: 'Lato', 'sans-serif';

$number-of-homepage-project-pictures: 5;
$picture-rotation-duration: 7s;
$baseline-picture-rotation-delay: calc(
  $picture-rotation-duration / $number-of-homepage-project-pictures
);
$initial-picture-rotation-angle: calc(
  360 / $number-of-homepage-project-pictures
);
