/**********************************
* Palettes de couleur - A choisir *
**********************************/

$color-primary: #34353a;
$color-secondary: #62ac83;
$color-tertiary: #ffffeb;
$color-warning: #ec0000;

/* $color-primary: #34353a;
$color-secondary: #62ac83;
$color-tertiary: #c6dbf0; */

/* $color-primary: #34353a;
$color-secondary: #62ac83;
$color-tertiary: #f18f01; */

/* $color-primary: #34353a;
$color-secondary: #8aa29e;
$color-tertiary: #ff7f11; */

$font-primary: 'Lato', 'sans-serif';

$header-height: 100px;

$number-of-homepage-project-pictures: 5;
$picture-rotation-duration: 7s;
$baseline-picture-rotation-delay: calc(
  $picture-rotation-duration / $number-of-homepage-project-pictures
);
$initial-picture-rotation-angle: calc(
  360 / $number-of-homepage-project-pictures
);
