@use '../utils/variables' as vars;

* {
  box-sizing: border-box;
  &:focus-visible {
    outline: 2px dotted vars.$color-tertiary;
  }
}

html {
  font-size: 20px;
}

body {
  font-family: vars.$font-primary;
  margin: 0;
  background-color: vars.$color-primary;
  color: white;
}

main {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 10px;
}

a {
  text-decoration: none;
}

ul {
  margin: 0.5rem 0;
  padding: 0;
}

li {
  list-style: none;
}

h2 {
  font-size: 1.5rem;
  text-align: center;
  color: vars.$color-tertiary;
}

.text-emphasis {
  color: vars.$color-secondary;
  font-weight: bold;

  &--dark {
    color: vars.$color-secondary-dark;
  }
}
